<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Servlet5</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Class1</display-name>
		<servlet-name>Class1</servlet-name>
		<servlet-class>Class1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Class2</display-name>
		<servlet-name>Class2</servlet-name>
		<servlet-class>Class2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletLifeCycle</display-name>
		<servlet-name>ServletLifeCycle</servlet-name>
		<servlet-class>ServletLifeCycle</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetResult</display-name>
		<servlet-name>GetResult</servlet-name>
		<servlet-class>GetResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FetchResult</display-name>
		<servlet-name>FetchResult</servlet-name>
		<servlet-class>FetchResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GETPOST</display-name>
		<servlet-name>GETPOST</servlet-name>
		<servlet-class>GETPOST</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>POSTGET</display-name>
		<servlet-name>POSTGET</servlet-name>
		<servlet-class>GETPOST</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Class1</servlet-name>
		<url-pattern>/Class1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Class2</servlet-name>
		<url-pattern>/Class2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletLifeCycle</servlet-name>
		<url-pattern>/ServletLifeCycle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetResult</servlet-name>
		<url-pattern>/GetResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FetchResult</servlet-name>
		<url-pattern>/FetchResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GETPOST</servlet-name>
		<url-pattern>/GETPOST</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>POSTGET</servlet-name>
		<url-pattern>/POSTGET</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
	
		<welcome-file>Login.html</welcome-file>
		
	</welcome-file-list>
</web-app>
